*.iml
*.class
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
GeneratedPluginRegistrant.java

# Package Files #
*.jar
*.war
*.ear

# Don't exclude the gradle wrapper
!gradle/**/*.jar